In [1]:
import pandas as pd

In [4]:
gdp_data = pd.read_csv("Russia_GRP.csv")
oil_data = pd.read_csv("crude-oil-price.csv")

In [3]:
print(gdp_data.columns)

Index(['Entity DCID', 'Entity properties isoCode', 'Entity properties name',
       'Variable DCID', 'Variable observation date',
       'Variable observation metadata importName',
       'Variable observation metadata provenanceUrl',
       'Variable observation metadata scalingFactor',
       'Variable observation metadata unit',
       'Variable observation metadata unitDisplayName',
       'Variable observation value', 'Variable perCapita DCID',
       'Variable perCapita observation date',
       'Variable perCapita observation metadata importName',
       'Variable perCapita observation metadata provenanceUrl',
       'Variable perCapita observation metadata scalingFactor',
       'Variable perCapita observation metadata unit',
       'Variable perCapita observation metadata unitDisplayName',
       'Variable perCapita observation value',
       'Variable perCapita perCapitaValue',
       'Variable perCapita properties name', 'Variable properties name'],
      dtype='object')

In [ ]:
for row in range(len(gdp_data)):
    
    print(f"""Date: {gdp_data["Variable observation date"][row]}, 
          Value: {round(gdp_data["Variable observation value"][row] / 1000000000, 2)}""")

Date: 1988,
          Value: 554.83
Date: 1989,
          Value: 506.63
Date: 1990,
          Value: 517.01
Date: 1991,
          Value: 517.96
Date: 1992,
          Value: 460.29
Date: 1993,
          Value: 435.08
Date: 1994,
          Value: 395.08
Date: 1995,
          Value: 395.54
Date: 1996,
          Value: 391.72
Date: 1997,
          Value: 404.93
Date: 1998,
          Value: 270.96
Date: 1999,
          Value: 195.91
Date: 2000,
          Value: 259.71
Date: 2001,
          Value: 306.6
Date: 2002,
          Value: 345.47
Date: 2003,
          Value: 430.35
Date: 2004,
          Value: 591.02
Date: 2005,
          Value: 764.02
Date: 2006,
          Value: 989.93
Date: 2007,
          Value: 1299.7
Date: 2008,
          Value: 1660.85
Date: 2009,
          Value: 1222.65
Date: 2010,
          Value: 1524.92
Date: 2011,
          Value: 2045.92
Date: 2012,
          Value: 2208.29
Date: 2013,
          Value: 2292.47
Date: 2014,
          Value: 2059.24
Date: 2015,
          Value: 1363.48
Date: 2016,
          Value: 1276.79
Date: 2017,
          Value: 1574.2
Date: 2018,
          Value: 1657.33
Date: 2019,
          Value: 1693.12
Date: 2020,
          Value: 1493.08
Date: 2021,
          Value: 1829.19
Date: 2022,
          Value: 2291.61
Date: 2023,
          Value: 2071.51
Date: 2024,
          Value: 2173.84